# ===== General =====
.DS_Store

# ===== Build =====
/build/
/out/
/.gradle/

# Gradle wrapper (KEEP jar!)
!gradle/wrapper/gradle-wrapper.jar

# ===== IDE: IntelliJ =====
.idea/
*.iml
*.iws
*.ipr

# ===== IDE: Eclipse / STS =====
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ===== IDE: NetBeans =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== IDE: VS Code =====
.vscode/

# ===== Logs =====
*.log

# ===== Database (H2) =====
*.mv.db
*.trace.db

# ===== OS temp =====
Thumbs.db

# ===== Temporary / backup files (editors, OS) =====
# generic temp files
*.tmp
# vim swap files
*.swp
# editor backup files
*~